# Standard sbt ignores
target/
src_managed/
project/boot/
test-reports/
*.log*
*.patch
.ensime*
.idea*
.vagrant
*.pyc

# ignore deployment configs
config/*.conf
config/*.sh
config/*.ini
job-server/config/*.conf
job-server/config/*.sh
job-server/config/*.ini
metastore_db/

#ignore generated config
bin/ec2_example.sh

# ignore spark-ec2 script
ec2Cluster/

# don't ignore the ec2 config and sh files
!job-server/config/ec2.sh
