# Editor related ignores
*.swp
.ensime*
.idea*

# Standard sbt ignores
*.log*
*.patch
*.pyc
.vagrant
job-server-extras/spark-warehouse/
project/boot/
src_managed/
target/
test-reports/

# ignore deployment configs
config/*.conf
config/*.ini
config/*.sh
job-server/config/*.conf
job-server/config/*.ini
job-server/config/*.sh
metastore_db/

#ignore generated config
bin/ec2_example.sh

# ignore spark-ec2 script
ec2Cluster/

# don't ignore the ec2 config and sh files
!job-server/config/ec2.sh
