spark {
  jobserver {
     jobdao = spark.jobserver.io.JobSqlDAO
  }

  context-settings {
    python {
      paths = [
         ${SPARK_HOME}/python/lib/pyspark.zip,
         ${SPARK_HOME}/python/lib/py4j-0.9-src.zip,
        "../job-server-python/target/python/spark_jobserver_python-0.7.0_SNAPSHOT-py2.7.egg"
      ]
    }
  }
}