spark {
  jobserver {
     jobdao = spark.jobserver.io.JobSqlDAO
  }

  context-settings {
    python {
      paths = [
         ${SPARK_HOME}/python/lib/pyspark.zip,
         ${SPARK_HOME}/python/lib/py4j-0.10.9.7-src.zip,
        "../job-server-python/target/python/spark_jobserver_python-0.11.2-py3-none-any.whl"
      ]
    }
  }
}